/* Omega Subtheme Customized Template File */

/* todo: Document these overrides */


/* The page Background color If the footer, branding, and content wrappers are colored this isn't needed */

#page {
background-color: yellow;

}



/* The container for the user bars, left and right */

#user-container {
background-color: #000;
border-bottom-width: 3px;
border-bottom-color: gray;

}



/* The User Wrapper at the top of the page, the left one */
/* This needs more work. The first user bar still displays as a list. I want it horizontal */

#region-user_bar_first, .ul a {

list-style: none;
list-style-type: none;
color: black;

}


/* The User Wrapper at the top of the page, the right one */

#region-user_bar_second {



}


/* The menu and breadcrumb areas */

#menu-outer-wrapper, #location-outer-wrapper {
background-color: #000;

}

/* The middle content section */ 

#content-outer-wrapper {
background-color: blue;

}


/* The footer content section */

#footer-outer-wrapper {
background-color: purple;

}



/* Color each region, since we have overriden the colors for each wrapper */

#region-header_first, #region-header_second, #region-preface_first, #region-preface_second, #region-preface_third,
#region-content, #region-sidebar_first, #region-sidebar_second, #region-postscript_first, #region-postscript_second, #region-postscript_third,
#region-postscript_fourth, #region-footer_first, #region-footer_second {

background-color: #72716c;

}



/* Interior branding regions ? */
#region-branding {
width: 930px;
background-image: url(../images/region-branding-background.png);
border-right-color: gray;
border-left-color: gray;
border-right-width: 5px;
border-left-width: 5px;
border-right-style: solid;
border-left-style: solid;

}





/* This section changes the branding region, ie. site-title and site-name */
#branding-outer-wrapper {
background-color: blue;

}

/* Use a custom google font */
@font-face {
font-family: UnifrakturMaguntia;
src: url(../google_fonts/UnifrakturMaguntia-Book.ttf);

}


/* We are using Google Fonts for the site-title, this is done through the interface but added
* here for reference.
*
* h1.site-title a, h2.site-title a { 
* font-family: "UnifrakturMaguntia"; 
* font-size: 2.5em;
*
*}
*/




/* The color of the site title (It is a link) */

h1.site-title a, h2.site-title a {
font-family: UnifrakturMaguntia;
font-size: 2.5em;
text-decoration: none;
color: #000;

}


/* The color of the site title when the user hovers over it */

h1.site-title a:hover, h2.site-title a:hover {
text-decoration: none;
color: gray;

}



/* Add some padding to the The site-slogan */

.site-slogan {
padding-bottom: 20px;
float: right;

}



/* Let's play with moving the logo around a little here */
/* This is experimental and may not stay */

.logo-img {
position: relative;
left: 385px; /* This seems to center it horizontally on the page */
top: -60px; /* This overlaps the logo over the branding and user areas */

}





/* THIS NEEDS MORE WORK */
/* The menu when used a drop-down has coloring that goes with it as well */

#region-menu ul.main-menu li a:hover, #region-menu ul.main-menu li:hover > a, #region-menu div.main-menu > ul.main-menu > li.active-trail > a {
color: orange;
background-color: black;

}
