/* Omega Subtheme Customized Template File */

/* todo: Document these overrides */
/* add the omega settings to the .info by exporting them through the interface */




/* The page Background color If the footer, branding, and content wrappers are colored this isn't needed */

#page {
background-color: #000;
}



/* Link Colors */

a:link, a:visited {
color: #0062A0;
text-decoration: underline;
}


/* User bar sections (Use with 0-2-0 for user-bar-first and 0-10-0 for user-bar-second: prefix-width-suffix) */

.container-12 .grid-2 {
width: 160px;
}

.container-12 .grid-10 {
width: 760px;
float: right;
}



/* The container for the user bars, left and right */

#user-container {
height: 60px;
}



/* This section changes the branding wrapper, ie. site-title and site-name container */

#branding-outer-wrapper {
border-top: 3px solid #D0DAE0;
}



/* The branding container */
/* Make sure to use a properly sized image, if it is 960px it will fill edge to edge of the container */

#branding-container {
background-image: url(../images/region-branding-background.png);
background-repeat: no-repeat;
background-position: center;
width: 960px;
}



/* Interior branding regions ? */

#region-branding {
/* width: 930px; */
/* background-image: url(../images/region-branding-background.png); */
}



/* Use a custom google font */
@font-face {
font-family: UnifrakturMaguntia;
src: url(../google_fonts/UnifrakturMaguntia-Book.ttf);
}



/* The color of the site title (It is a link) */

h1.site-title a, h2.site-title a {
font-family: UnifrakturMaguntia;
font-size: 2.5em;
text-decoration: none;
color: #D0DAE0;
text-shadow: #000 10px 10px 3px;
}



/* The color of the site title when the user hovers over it */
h1.site-title a:hover, h2.site-title a:hover {
text-decoration: none;
color: gray;
}

/* Add some padding to the The site-slogan */

.site-slogan {
padding-bottom: 20px;
float: right;


}

/* The text size and font for the slogan */
.site-slogan {
font-style: italic;
font-weight: normal;
color: black;
font-size: 22px;
color: #000;
text-shadow: #FFF 1px 1px 1px;
}



/* Let's play with moving the logo around a little here */
/* This is experimental and may not stay */

.logo-img {
position: relative;
left: 385px; /* This seems to center it horizontally on the page */
top: -60px; /* This overlaps the logo over the branding and user areas */

}

/* <<< The Main Menu >>> */
/* THIS NEEDS MORE WORK */
/* The menu when used a drop-down has coloring that goes with it as well */

/* The background of the main menu, and the inactive text color */
#region-menu ul.main-menu li a {
  padding: 5px 10px;
  display: inline-block;
  border:0;
  text-decoration: none;
  background-color: #000;
  
}



/* The text color and background when the menu is hovered over */
#region-menu ul.main-menu li a:hover, #region-menu ul.main-menu li:hover > a, #region-menu div.main-menu > ul.main-menu > li.active-trail > a {
color: #E20074;
background-color: black;

}

/* The section behind the menu */
#region-menu ul.main-menu {
background-color: #000;
border: none;
padding: 0;
margin-bottom: 1.5em;
list-style-type: none;
}

/* The text that makes up the main menu */
.primary-navigation ul.links {
font-size: 12px;
text-transform: none;

}

.primary-navigation ul.links a {
color: #D0DAE0;
}


/* $$$$ Each individual container begins here $$$$ */


/* The header wrapper */

#header-container {
background-color: blue;
}

#region-header_first {
background-color: red;
}

#region-header_second {
background-color: black;
}

/* The menu container */
#menu-container {
background-color: #000;
}

/* The location container */
#location-container {
background-color: none;
}

/* The preface container */
#preface-container {
background-color: green;
}

/* The content container */
#content-container {
background-color: #959ca0;
padding-top: 5px;
width: 970px; /* A bug means we have to make it bigger, otherwise the sidebars get messed up */
}

/* The postscript container */
#postscript-container {
background-color: orange;
}

/* The footer container */
#footer-container {
background-color: gray;
}

/* All the other text */
html, body, div {
color: white;
}

#region-content {
background-color: lightgray;

}

/* <<<Blocks>>> */



#region-sidebar_first .block-title, #region-sidebar_second .block-title {
font-size: 18px;
background-color: #E20074;
color: black;

}


#region-sidebar_first .block, #region-sidebar_second .block {
border: 1px black solid;
}
